#center table.panel {
  display: -moz-inline-box;
  display: inline-block;
  margin: 0 10px 10px 10px;
  padding: 5px 15px 20px 15px;
  width: auto;
  height: 120px;
}
#center table.panel th {
  width: auto;
  text-align: center;
  vertical-align: top;
  padding: 0;
  background: white;
  color: black;
}
#center table.panel td {
  width: auto;
  vertical-align: top;
  padding: 0;
}
