.error { background: pink; }
ul.message {
  background: white;
  list-style-type: none;
  padding-left: 0.5em;
  -moz-border-radius: 0.5em;
}
ul.message li { padding: 0.5em; }
ul.notice { border: 2px solid blue; }
ul.alert { border: 2px solid orange; }
ul.error { border: 2px solid red; }
div.error {
  color: red;
  background: transparent;
  font-weight: bold;
}
img {
  border: none;
  vertical-align: top;
}
span.file {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 1px 0;
}
span.img {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 1px 0;
  background: lightgray;
}
div.me {
  overflow: hidden;
  position: relative;
}
div.me .img {
  float: left;
  margin-right: 1em;
}
div.me .client {
  font-weight: bold;
  margin: 0;
}
span.radio input {
  vertical-align: top;
  margin-right: 0;
  padding-right: 0;
}
