ul.message {
  background: white;
  list-style-type: none;
  padding-left: 0.5em;
  -moz-border-radius: 0.5em;
}
ul.message li { padding: 0.5em; }
ul.notice { border: 2px solid blue; }
ul.alert { border: 2px solid orange; }
ul.error { border: 2px solid red; }
span.error input { background: pink; }
span.error file { background: pink; }
span.error textarea { background: pink; }
span.error select { background: pink; }
span.radio, span.checkbox, span.file, span.img {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2px;
}
span.error.radio, span.error.checkbox, span.error.file, span.error.img { background: pink; }
span.error_message {
  display: block;
  color: red;
  background: transparent;
  font-weight: bold;
}
img {
  border: none;
  vertical-align: top;
}
span.file {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 1px 0;
}
span.dummy_img {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2px;
  background: lightgray;
}
span.checkbox input {
  vertical-align: top;
  margin-right: 0;
  padding-right: 0;
}
span.checkbox label { margin-right: 0.5em; }
span.radio input {
  vertical-align: top;
  margin-right: 0;
  padding-right: 0;
}
span.radio label { margin-right: 0.5em; }
div.view_ym, div.action_create { margin: 1em 0 0 0; }
div.me {
  margin: 1em 0 0 0;
  overflow: hidden;
  position: relative;
}
div.me .img {
  float: left;
  margin-right: 1em;
}
div.me .client {
  font-size: large;
  font-weight: bold;
  margin: 0;
}
div.me .action_logout { margin: 0.5em 0 0 0; }
div.login {
  margin: 5em 0 5em 0;
  text-align: center;
}
div.login label { margin-right: 0.5em; }
div.login input { margin-right: 1em; }
div.submit { margin: 1em 0 2em 2em; }
div.submit input { margin-right: 1em; }
div.navi {
  margin: 0.5em 2em 0.5em 0;
  text-align: right;
}
